--
-- Create model Employee
--
CREATE TABLE `organization_employee` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `employee_code` varchar(20) NULL UNIQUE, `first_name` varchar(50) NOT NULL, `last_name` varchar(50) NOT NULL, `email` varchar(254) NOT NULL UNIQUE, `phone_number` varchar(15) NULL, `address` longtext NULL, `date_joined` date NOT NULL, `date_of_birth` date NULL, `status` varchar(20) NOT NULL, `position` varchar(100) NULL, `department` varchar(100) NULL, `salary` numeric(10, 2) NULL, `commission_rate` numeric(5, 2) NULL, `profile_photo` varchar(100) NULL, `notes` longtext NULL, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `agency_id` bigint NOT NULL, `created_by_id` integer NULL, `user_id` integer NOT NULL UNIQUE);
ALTER TABLE `organization_employee` ADD CONSTRAINT `organization_employe_agency_id_b37ffb3f_fk_organizat` FOREIGN KEY (`agency_id`) REFERENCES `organization_agency` (`id`);
ALTER TABLE `organization_employee` ADD CONSTRAINT `organization_employee_created_by_id_2ddb4f39_fk_auth_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `auth_user` (`id`);
ALTER TABLE `organization_employee` ADD CONSTRAINT `organization_employee_user_id_4e78a58b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`);
CREATE INDEX `organizatio_employe_3729c4_idx` ON `organization_employee` (`employee_code`);
CREATE INDEX `organizatio_email_0a26bb_idx` ON `organization_employee` (`email`);
CREATE INDEX `organizatio_agency__5c21e8_idx` ON `organization_employee` (`agency_id`);
CREATE INDEX `organizatio_status_1d8c99_idx` ON `organization_employee` (`status`);
