--
-- Create model AuditLog
--
CREATE TABLE `finance_auditlog` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `action` varchar(50) NOT NULL, `object_type` varchar(100) NOT NULL, `object_id` varchar(100) NULL, `before` json NULL, `after` json NULL, `reason` varchar(255) NULL, `timestamp` datetime(6) NOT NULL, `actor_id` integer NULL);
--
-- Create model ChartOfAccount
--
CREATE TABLE `finance_chartofaccount` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `code` varchar(64) NULL, `name` varchar(255) NOT NULL, `type` varchar(20) NOT NULL, `auto_created` bool NOT NULL, `created_at` datetime(6) NOT NULL, `branch_id` bigint NULL, `organization_id` bigint NOT NULL, `parent_id` bigint NULL);
--
-- Create model Expense
--
CREATE TABLE `finance_expense` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `category` varchar(50) NOT NULL, `amount` numeric(18, 2) NOT NULL, `currency` varchar(10) NOT NULL, `date` date NOT NULL, `booking_id` integer NULL, `ledger_entry_id` integer NULL, `notes` longtext NULL, `created_at` datetime(6) NOT NULL, `branch_id` bigint NULL, `coa_id` bigint NULL, `created_by_id` integer NULL, `organization_id` bigint NOT NULL);
--
-- Create model FinancialRecord
--
CREATE TABLE `finance_financialrecord` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `booking_id` integer NULL, `service_type` varchar(30) NOT NULL, `income_amount` numeric(18, 2) NOT NULL, `purchase_cost` numeric(18, 2) NULL, `expenses_amount` numeric(18, 2) NOT NULL, `profit_loss` numeric(18, 2) NULL, `currency` varchar(10) NOT NULL, `metadata` json NOT NULL, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `branch_id` bigint NULL, `organization_id` bigint NOT NULL);
--
-- Create model TransactionJournal
--
CREATE TABLE `finance_transactionjournal` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `reference` varchar(255) NULL, `narration` longtext NULL, `entries` json NOT NULL, `ledger_entry_id` integer NULL, `posted` bool NOT NULL, `created_at` datetime(6) NOT NULL, `branch_id` bigint NULL, `created_by_id` integer NULL, `organization_id` bigint NOT NULL);
ALTER TABLE `finance_auditlog` ADD CONSTRAINT `finance_auditlog_actor_id_573ae9fc_fk_auth_user_id` FOREIGN KEY (`actor_id`) REFERENCES `auth_user` (`id`);
ALTER TABLE `finance_chartofaccount` ADD CONSTRAINT `finance_chartofaccou_branch_id_644969e7_fk_organizat` FOREIGN KEY (`branch_id`) REFERENCES `organization_branch` (`id`);
ALTER TABLE `finance_chartofaccount` ADD CONSTRAINT `finance_chartofaccou_organization_id_9265181a_fk_organizat` FOREIGN KEY (`organization_id`) REFERENCES `organization_organization` (`id`);
ALTER TABLE `finance_chartofaccount` ADD CONSTRAINT `finance_chartofaccou_parent_id_0412b6b2_fk_finance_c` FOREIGN KEY (`parent_id`) REFERENCES `finance_chartofaccount` (`id`);
ALTER TABLE `finance_expense` ADD CONSTRAINT `finance_expense_branch_id_de4b79eb_fk_organization_branch_id` FOREIGN KEY (`branch_id`) REFERENCES `organization_branch` (`id`);
ALTER TABLE `finance_expense` ADD CONSTRAINT `finance_expense_coa_id_cf4d4758_fk_finance_chartofaccount_id` FOREIGN KEY (`coa_id`) REFERENCES `finance_chartofaccount` (`id`);
ALTER TABLE `finance_expense` ADD CONSTRAINT `finance_expense_created_by_id_913042dd_fk_auth_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `auth_user` (`id`);
ALTER TABLE `finance_expense` ADD CONSTRAINT `finance_expense_organization_id_12584951_fk_organizat` FOREIGN KEY (`organization_id`) REFERENCES `organization_organization` (`id`);
ALTER TABLE `finance_financialrecord` ADD CONSTRAINT `finance_financialrec_branch_id_fe9b10ef_fk_organizat` FOREIGN KEY (`branch_id`) REFERENCES `organization_branch` (`id`);
ALTER TABLE `finance_financialrecord` ADD CONSTRAINT `finance_financialrec_organization_id_06b128d6_fk_organizat` FOREIGN KEY (`organization_id`) REFERENCES `organization_organization` (`id`);
ALTER TABLE `finance_transactionjournal` ADD CONSTRAINT `finance_transactionj_branch_id_82c86757_fk_organizat` FOREIGN KEY (`branch_id`) REFERENCES `organization_branch` (`id`);
ALTER TABLE `finance_transactionjournal` ADD CONSTRAINT `finance_transactionj_created_by_id_da7c03bf_fk_auth_user` FOREIGN KEY (`created_by_id`) REFERENCES `auth_user` (`id`);
ALTER TABLE `finance_transactionjournal` ADD CONSTRAINT `finance_transactionj_organization_id_6e0b2b0c_fk_organizat` FOREIGN KEY (`organization_id`) REFERENCES `organization_organization` (`id`);
